.git
.gitignore
.github
.env
.env.*
!.env.example

node_modules
vendor
composer.lock
package-lock.json

storage/app/*
!storage/app/.gitignore
!storage/app/public
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore

bootstrap/cache/*
!bootstrap/cache/.gitignore

public/hot
public/storage
public/build

tests
phpunit.xml
.phpunit.result.cache

*.md
!CLAUDE.md
!README.md

_chat.md
TODO.md

docker/postgres
docker/nginx
!docker/supervisor
!docker/php
Dockerfile
compose*.yml
